<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../static/icon.png" type="image/x-icon">

    <link rel="stylesheet" href="../static/styles.css" id="themeStylesheet">
    <script src="../static/script.js" defer></script>

    <title>AskData</title>

</head>
<body>

<h1>
    <div class="image-container">
        <img src="../static/AskData%20Icon.png" alt="AskData Icon" class="AskData-icon">
        <div class="center"><img src = "static/2faced.png" alt="Developers" width = 30% class="developer-icon"></img></div>
        <img src="../static/fau-logo.png" alt="Fau Icon" class="FAU-icon">
    </div>
</h1>
<div class="center"> <p> AI Data Assistant developed by Karina Nentwig, Andrei Kharchenko, Bryce Brooks, Eric Campbell, and Daniel Azafrani.</p></div>


<div class="chat-container">
    <div class="chat-box" id="chat-box">
        <div class="message">
            <img src="../static/icon.png" alt="Bot Icon" class="message-icon">
            <div class="message">Type a message to start chatting.</div>
        </div>
    </div>
    <div class="input-box">
        <input type="text" id="user_input" placeholder="Type your message, 'Enter' to send..."  onkeydown="if(event.keyCode === 13) sendMessage()">
        <button onclick="sendMessage()">Send</button>
    </div>

</div>
</body>
</html>
